<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>233913625429-2o575qhllbp3kj8k6uq9uug2n979gcpg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.233913625429-2o575qhllbp3kj8k6uq9uug2n979gcpg</string>
	<key>API_KEY</key>
	<string>AIzaSyCV55LVLi0nLNgHunsJZuAPX8U3fPO6J-w</string>
	<key>GCM_SENDER_ID</key>
	<string>233913625429</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.victor.pre-matricula</string>
	<key>PROJECT_ID</key>
	<string>pre-matricula-fd98c</string>
	<key>STORAGE_BUCKET</key>
	<string>pre-matricula-fd98c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:233913625429:ios:f7324d097fe2e7ad</string>
	<key>DATABASE_URL</key>
	<string>https://pre-matricula-fd98c.firebaseio.com</string>
</dict>
</plist>